body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600px;
    color: white;
    /* box-sizing: border-box; */
}

/*styles for button*/
.btn_submit, .btn_login {
    display: inline-block;
    margin: 0px 10px 10px 10px;
    width: 120px;
    padding: 20px;
    font-size: 17px;
    background-color: black;
    text-align: center;
    /*border-radius: 10px;*/
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

.Login {
    background-color: blue;
    cursor: pointer;
    margin-left: -15px;
}

/*Styles for icon*/
.brand_feel {
    /*display: none;*/
    display: inline-block;
    /*border: 1px solid red;*/
    margin-top: 50px;
    margin-left: 10px;
    width: 300px;
    padding: 20px;
    list-style: none;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 22px;
}

.fb {
    background-color:  #3b5998;
    /*border: 1px solid red;*/
}

.fab {
    margin-right: 10px;
}

.tweet {
    background-color: #00acee
}

.link {
    background-color: #0e76a8;
}

.ig {
    background-color: #8a3ab9
}

.google {
    background-color: black;
}

/*styling positioning*/
#header_tab {
    height: 50px;
    background-color: rgba(4, 140, 4, 0.07);
    text-align: center;
    /*margin-top: 10px;*/
   
}
.menu-item {
    display: inline-block;
    padding: 15px 25px;
    margin-right: 5px;
    background-color: #23496f;
    border: none;
    border-radius: 5px;
}
main {
    margin: 10px 30px;
}
.section {
    display: inline-block;
    width: 64%;
    height: 350px;
    /* border: 1px solid red; */
    background-color: gray;
}

.aside {
    display: inline-block;
    height: 350px;
    width: 35%;
    /* border: 1px solid red; */
    background-color: lightgray;
}

#foot {
    height: 60px;
    background-color: #254f76;
    margin: 0px;
    color: white;
    font-size: 12px;
}

.foot_head {
    text-align: center;
    margin: 0;
    padding: 20px;
}

/*Positioning - Static, Relative, Absolute, Fixed
     and Sticky*/
#pos_header_tab {
    height: 50px;
    background-color: rgba(4, 140, 4, 0.07);
    text-align: center;
    /*margin-top: 10px;*/
    position: sticky;
    top: 0;
}

.pos_img1, .pos_img2, .pos_img3 {
    /*border: 1px solid red;*/
    width: 250px;
    height: 250px;
    object-fit: cover;
    display: block;
}
.pos_img {
    /*border: 1px solid red;*/
    width: 250px;
    height: 250px;
    object-fit: cover;
    /*position: relative;*/
}

.pos_img1 {
    position: absolute;
    top: 70px;
    left: 0px;
}

.pos_img2 {
    position: fixed;
    top: 50px;
    right: 0px;
    width: 80px;
    height: 80px;
}
.head_4 {
    /*position: absolute;*/
    color: black;
}

/*Styling overflow*/

#over_head_tab {
    background-color: lightslategrey;
    height: 50px;
    text-align: center;
}

#over_foot {
    background-color: black;
    text-align: center;
    padding: 1px;
}

.over_img {
    display: block;
    width: 300px;
}

#img_wrap {
    display: inline-block;
    border: 1px solid red;
    width: 200px;
    overflow-x: auto;
    margin-right: 80px;
}

#img_wrap2 {
    /*display: inline-block;*/
    border: 1px solid red;
    width: 300px;
    height: 290px;
    overflow-y: auto;
    margin-right: 80px;
}

/* Styling float*/
header.header_tab {
    text-align: center;
    background: white;
    border-bottom: 1px solid rgb(224, 209, 209);
    position: sticky;
    top: 0;
    color: black;
    opacity: 0.8;
    /* position: relative; */
}

span.menu-item {
    background-color: white;
    padding: 20px;
}

#float_section {
    border: 1px solid red;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.float_img {
    width: 150px;
    height: 150px;
    border: 1px solid red;
    float: left;
}

.float_article {
    color: black;
    border: 1px solid red;
}

.float_article2 {
    color: black;
    border: 1px solid red;
}

.float_para {
    text-align: justify;
}

/*Styling Box Model*/
.box_header_tab {
     text-align: center;
    background: white;
    border-bottom: 1px solid rgb(224, 209, 209);
    position: sticky;
    top: 0;
    color: black;
    opacity: 0.8;
    box-shadow: 0px 0px 2px gray;
}

#box_img_wrap {
    border:2px solid blue;
    width: 350px;
    margin: 30px;
    display: inline-block;
}

.box_img {
    width: 300px;
    padding: 5px;
    border: 5px solid red;
    margin-left: 22px;
    box-sizing: border-box;
    
}

.box_img1 {
    width: 300px;
    padding: 5px;
    border: 5px solid red;
    margin-left: 22px;
    /*box-sizing: border-box;*/
}

.box_header {
    color: black;
    text-align: justify;
    font-size: 18px;
}

/* Styles for Pseudo Class Practise */
#pseudo_head_tab {
    background-color: rgb(233, 233, 233);
    color: black;
    text-align: center;
    position: sticky;
    box-shadow: 0px 0px 4px rgb(116, 90, 90);
    top: 0;
}

span.menu-items {
    width: 70px;
    display: inline-block;
    padding: 12px;
    color: darkcyan;
}


#big_wrapper {
    /* border: 1px solid red; */
    /* background-color: #757fb530; */
    background: url('images/img3.jpg');
    object-fit: contain;
    background-size: 33%;
}

#form_wrap {
    /* border: 1px solid #2196f3; */
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    /* margin-bottom: 20px; */
    background-color: #ffffffbf;
    padding: 20px;
    border-bottom: 2px solid #4e4646;
    border-top: 2px solid #4e4646;
    /* box-shadow: 0px 0px 2px black; */
    border-radius: 20px;
}

.pseudo_head {
    color: #19468b;
    /* border: 1px solid red; */
    text-align: center;
    padding: 5px;
}

.signup_form {
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
    box-sizing: border-box;
    /* box-shadow: 0px 0px 4px gray; */
}

.form_input {
    border: 1px solid #a1a4a7;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 15px;
}

input.form_input.Submit {
    color: white;
    background: #19468b;
}

label.chkbx_text {
    font-size: 14px;
    color: black;
}

input.chkbox {
    margin-top: 20px;
    margin-bottom: 15px;
}

#foot_wrap {
    /* border: 1px solid red; */
}

.pseudo_foot {
    /* border: 1px solid red; */
    text-align: center;
    background-color: #e9e9e9;
}

.pseudo_foot_head {
    /* border: 1px solid red; */
    display: inline-block;
    color: #1c9696;
    padding: 15px;
    margin: 0;
}

/* Pseudo class usage */
input.form_input.Submit:hover {
    cursor: pointer;
    background-color: rgb(34, 132, 165);
}

.form_input:focus {
    background-color: rgba(255, 0, 0, 0.2);
}

.form_input:focus:required {
    background-color: rgba(79, 102, 79, 0.5);
}