body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600px;
    color: white;
    /* box-sizing: border-box; */
}

/*styles for button*/
.btn_submit, .btn_login {
    display: inline-block;
    margin: 0px 10px 10px 10px;
    width: 120px;
    padding: 20px;
    font-size: 17px;
    background-color: black;
    text-align: center;
    /*border-radius: 10px;*/
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

.Login {
    background-color: blue;
    cursor: pointer;
    margin-left: -15px;
}

/*Styles for icon*/
.brand_feel {
    /*display: none;*/
    display: inline-block;
    /*border: 1px solid red;*/
    margin-top: 50px;
    margin-left: 10px;
    width: 300px;
    padding: 20px;
    list-style: none;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 22px;
}

.fb {
    background-color:  #3b5998;
    /*border: 1px solid red;*/
}

.fab {
    margin-right: 10px;
}

.tweet {
    background-color: #00acee
}

.link {
    background-color: #0e76a8;
}

.ig {
    background-color: #8a3ab9
}

.google {
    background-color: black;
}

/*styling positioning*/
#header_tab {
    height: 50px;
    background-color: rgba(4, 140, 4, 0.07);
    text-align: center;
    /*margin-top: 10px;*/
   
}
.menu-item {
    display: inline-block;
    padding: 15px 25px;
    margin-right: 5px;
    background-color: #23496f;
    border: none;
    border-radius: 5px;
}
main {
    margin: 10px 30px;
}
.section {
    display: inline-block;
    width: 64%;
    height: 350px;
    /* border: 1px solid red; */
    background-color: gray;
}

.aside {
    display: inline-block;
    height: 350px;
    width: 35%;
    /* border: 1px solid red; */
    background-color: lightgray;
}

#foot {
    height: 60px;
    background-color: #254f76;
    margin: 0px;
    color: white;
    font-size: 12px;
}

.foot_head {
    text-align: center;
    margin: 0;
    padding: 20px;
}

/*Positioning - Static, Relative, Absolute, Fixed
     and Sticky*/
#pos_header_tab {
    height: 50px;
    background-color: rgba(4, 140, 4, 0.07);
    text-align: center;
    /*margin-top: 10px;*/
    position: sticky;
    top: 0;
}

.pos_img1, .pos_img2, .pos_img3 {
    /*border: 1px solid red;*/
    width: 250px;
    height: 250px;
    object-fit: cover;
    display: block;
}
.pos_img {
    /*border: 1px solid red;*/
    width: 250px;
    height: 250px;
    object-fit: cover;
    /*position: relative;*/
}

.pos_img1 {
    position: absolute;
    top: 70px;
    left: 0px;
}

.pos_img2 {
    position: fixed;
    top: 50px;
    right: 0px;
    width: 80px;
    height: 80px;
}
.head_4 {
    /*position: absolute;*/
    color: black;
}

/*Styling overflow*/

#over_head_tab {
    background-color: lightslategrey;
    height: 50px;
    text-align: center;
}

#over_foot {
    background-color: black;
    text-align: center;
    padding: 1px;
}

.over_img {
    display: block;
    width: 300px;
}

#img_wrap {
    display: inline-block;
    border: 1px solid red;
    width: 200px;
    overflow-x: auto;
    margin-right: 80px;
}

#img_wrap2 {
    /*display: inline-block;*/
    border: 1px solid red;
    width: 300px;
    height: 290px;
    overflow-y: auto;
    margin-right: 80px;
}

/* Styling float*/
header.header_tab {
    text-align: center;
    background: white;
    border-bottom: 1px solid rgb(224, 209, 209);
    position: sticky;
    top: 0;
    color: black;
    opacity: 0.8;
    /* position: relative; */
}

span.menu-item {
    background-color: white;
    padding: 20px;
}

#float_section {
    border: 1px solid red;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.float_img {
    width: 150px;
    height: 150px;
    border: 1px solid red;
    float: left;
}

.float_article {
    color: black;
    border: 1px solid red;
}

.float_article2 {
    color: black;
    border: 1px solid red;
}

.float_para {
    text-align: justify;
}

/*Styling Box Model*/
.box_header_tab {
    text-align: center;
    background: white;
    border-bottom: 1px solid rgb(224, 209, 209);
    position: sticky;
    top: 0;
    color: black;
    opacity: 0.8;
    box-shadow: 0px 0px 2px gray;
}

#box_img_wrap {
    border:2px solid blue;
    width: 350px;
    margin: 30px;
    display: inline-block;
}

.box_img {
    width: 300px;
    padding: 5px;
    border: 5px solid red;
    margin-left: 22px;
    box-sizing: border-box;
    
}

.box_img1 {
    width: 300px;
    padding: 5px;
    border: 5px solid red;
    margin-left: 22px;
    box-sizing: border-box;
}

.box_header {
    color: black;
    text-align: justify;
    font-size: 18px;
}

@media screen and (max-width:1024px) {
    span.menu-item {
        background-color: white;
        padding: 20px;
        font-size: 18px;
    }
    
    .box_header {
        color: black;
        text-align: justify;
        font-size: 23px;
    }
    
    .box_img {
        margin: 0px 25px;
        width: 200px;
    }

    .box_img1 {
        margin: 0px 23px;
        width: 200px;
    }
    
    .box_header {
        color: black;
        text-align: justify;
        font-size: 25px;
    }
    
    #box_img_wrap {
        width: 403px;
        margin: 10px 49px;
        text-align: center;
        height: 446px;
        vertical-align: top;
    }
}

@media screen and (max-width:768px) {
    .box_img {
        margin: 0px 25px;
        width: 150px;
    }

    .box_img1 {
        margin: 0px 23px;
        width: 150px;
    }
    
    #box_img_wrap {
        width: 328px;
        margin: 10px 23px;
        text-align: center;
        height: 330px;
        vertical-align: top;
    }
}

@media screen and (max-width:425px) {
    .box_img {
        margin: 0px 75px;
        width: 150px;
    }
    
    #box_img_wrap {
        width: 300px;
        margin: 10px 58px;
    }
    
    .box_img1 {
        width: 150px;
        margin: 0px 75px;
    }
}

@media screen and (max-width:412px) {
    .box_img {
        margin: 0px 75px;
        width: 150px;
    }
    
    #box_img_wrap {
        width: 300px;
        margin: 10px 50px;
    }
    
    .box_img1 {
        width: 150px;
        margin: 0px 75px;
    }
}

@media screen and (max-width:375px) {
    .box_img {
        margin: 0px 25px;
        width: 150px;
    }

    .box_img1 {
        margin: 0px 25px;
        width: 150px;
    }
    
    #box_img_wrap {
        width: 270px;
        margin: 10px 50px;
        text-align: center;
    }
}

@media screen and (max-width:320px) {
    .box_img {
        margin: 0px 25px;
        width: 140px;
    }

    .box_img1 {
        margin: 0px 23px;
        width: 140px;
    }
    
    .box_header {
        color: black;
        text-align: justify;
        font-size: 14px;
    }

    #box_img_wrap {
        width: 270px;
        height: auto;
        margin: 60px 25px;
        text-align: center;
        display: block;
    }
}
/* Styles for Pseudo Class Practise */
#pseudo_head_tab {
    background-color: rgb(233, 233, 233);
    color: black;
    text-align: center;
    position: sticky;
    box-shadow: 0px 0px 4px rgb(116, 90, 90);
    top: 0;
}

span.menu-items {
    width: 70px;
    display: inline-block;
    padding: 12px;
    color: darkcyan;
}


#big_wrapper {
    /* border: 1px solid red; */
    /* background-color: #757fb530; */
    background: url('images/img3.jpg');
    object-fit: contain;
    background-size: 33%;
}

#form_wrap {
    /* border: 1px solid #2196f3; */
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    /* margin-bottom: 20px; */
    background-color: #ffffffbf;
    padding: 20px;
    border-bottom: 2px solid #4e4646;
    border-top: 2px solid #4e4646;
    /* box-shadow: 0px 0px 2px black; */
    border-radius: 20px;
}

.pseudo_head {
    color: #19468b;
    /* border: 1px solid red; */
    text-align: center;
    padding: 5px;
}

.signup_form {
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
    box-sizing: border-box;
    /* box-shadow: 0px 0px 4px gray; */
}

.form_input {
    border: 1px solid #a1a4a7;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 15px;
}

input.form_input.Submit {
    color: white;
    background: #19468b;
}

label.chkbx_text {
    font-size: 14px;
    color: black;
}

input.chkbox {
    margin-top: 20px;
    margin-bottom: 15px;
}

#foot_wrap {
    /* border: 1px solid red; */
}

.pseudo_foot {
    /* border: 1px solid red; */
    text-align: center;
    background-color: #e9e9e9;
}

.pseudo_foot_head {
    /* border: 1px solid red; */
    display: inline-block;
    color: #1c9696;
    padding: 15px;
    margin: 0;
}

/* Pseudo class usage */
input.form_input.Submit:hover {
    cursor: pointer;
    background-color: rgb(34, 132, 165);
}

.form_input:focus {
    background-color: rgba(255, 0, 0, 0.2);
}

.form_input:focus:required {
    background-color: rgba(79, 102, 79, 0.5);
}

article > p::first-line {
    background-color: blue;
    color: white;
}

article > p::first-letter {
    font-size: 24px;
    font-weight: bold;
    color: red;
}

/* Styling Backgrounds */
.ab_header{
    background-color: #254f76;
    height: 40px;
    text-align: center;
}

.ab_menu_item {
    position: relative;
    top: 10px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.ab_menu_item a {
    color: white;
    text-decoration: none;
}

#back_image {
    margin: 0;
    height: 720px;
    /* background-image: url('images/img3.jpg'); */
    background-image: radial-gradient(gray, rgba(61, 60, 60, 0.13), 
    rgba(61, 60, 30, 1));
    background-position: center;
    background-size: contain;
    box-sizing: content-box; 
}

/* styling gradients */
#div1, #div2, #div3, #div4 {
    display: inline block;
    box-sizing: border-box;
    /* border: 1px solid red; */
    width: 400px;
    height: 200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#div1 {
    background-image: linear-gradient(to right, green, 
    white, green);
    box-shadow: 5px 4px 10px gray;
}

#div2 {
    background-image: linear-gradient(to left, red, 
    orange, yellow, gray, white);
    box-shadow: 5px 4px 5px gray;
}

#div3 {
    background-image: linear-gradient(to bottom, black,gray,
     black, white);
     box-shadow: 2px 2px 10px gray;
}

#div4 {
    background-image: linear-gradient(to right, rgba(33, 167, 33, 0), 
    rgba(33, 167, 33, 1));
}

/* Text overflow styles */
.txt_head_tab {
    background-image: linear-gradient(to right, white,
     gray);
    text-align: right;
    box-shadow: 0px 0px 4px lightslategray;
    height: 40px;
    position: sticky;
    top: 0px;
    border-bottom: 1px solid lightgray;
}

.logo {
    height: 40px;
    position: relative;
    right: 765px;
}

.txt_menu-item {
    display: inline-block;
    position: relative;
    width: 60px;
    top: -15px;
    padding: 15px;
    font-size: 15px;
    right: 250px;
    text-align: center;
}

.txt_menu-item a {
    text-decoration: none;
    color: black;
}

#card_wrap {
    display: flex;
    margin-top: 100px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-end;
    align-content: flex-end;
}

#card1, #card2, #card3 {
    display: inline-block;
    width: 380px;
    height: 310px;
    background-image: linear-gradient(to bottom, gray, white);
    box-shadow: 0px 0px 4px gray;
    margin-bottom: 20px;
    margin-right: 20px;
    box-sizing: border-box;
}

.card_image {
    box-sizing: border-box;
    width: inherit;
}

.card_head {
    color: black;
    margin: 10px 18px;
    /* border: 1px solid red; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card_text{
    color: black;
    text-align: justify;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 18px;
}

/* Styles for google exercise */

#goo_header_tab {
    height: 72px;
    padding: 10px;
    /* border: 1px solid red; */
    text-align: right;
    box-sizing: border-box;
}

.goo_menu_item {
    display: inline-block;
    /* border: 1px solid red; */
    padding: 10px;
}

.goo_menu_item > a {
    color: black;
    text-decoration: none;
    font-size: 13px;
}

.goo_menu_item:hover {
    text-decoration: underline;
}

#icon-wrap {
    display: inline-block;
    /* border: 1px solid red; */
    /* height: 38px; */
    box-sizing: border-box;
    /* border-radius: 100%; */
}

.menu-wrap {
    display: inline-block;
    /* border: 1px solid red; */
    /* height: 28px; */
    padding: 5px;
    position: relative;
    top: -6px;
}

img.user_icon {
    width: 24px;
    border-radius: 100%;
}

/* .material-icons:hover {
    
} */

#brand_wrap {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 95px 0px 20px 0px;
}

.goo_brand {
    display: block;
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

#goo_form_wrap {
    /* border: 1px solid red; */
    text-align: center;
}

#goo_form_wrap {
    /* border: 1px solid red; */
}

.search_input {
    width: 600px;
    padding: 15px 30px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(201 200 200 / 87%);
    border-width: thin;
    font-size: 14px;
}

.search_input:active {
    border-width: thin;
}

.search_input:hover {
    box-shadow: 2px 2px 6px #808080e0;
    cursor: pointer;
}

.goo_search_icon {
    height: 25px;
    position: relative;
    top: 10px;
    left: 32px;
    margin: 0;
    box-sizing: border-box;
}

.goo_voice_icon {
    height: 22px;
    position: relative;
    top: 7px;
    right: 33px;
    margin: 0;
    box-sizing: border-box;
}

#button_wrap {
    /* border: 1px solid red; */
    margin: 20px 0px 0px 0px
}

.goo_search_btn, .goo_feel_btn {
    width: 150px;
    height: 36px;
    border: none;
    /* border: 1px solid red; */
    padding: 10px;
    border-width: thin;
    font-size: 14px;
    margin-right: 20px;
    border-radius: 3px;
}

.goo_feel_btn:hover {
    box-shadow: 2px 2px 6px #808080e0;
    cursor: pointer;
}

.goo_search_btn:hover {
    box-shadow: 2px 2px 6px #808080e0;
    cursor: pointer;
}

.goo_voice_icon1 {
    /* border: 1px solid red; */
    height: 30px;
    margin: 10px;
    box-sizing: border-box;
}

img.goo_voice_icon1:hover {
    box-shadow: 1px 1px 4px lightslategrey;
}

.icon_desc {
    color: black;
    font-size: 10px;
    text-align: -webkit-center;
}

#apps_icon {
    display: none;
    /* border: 1px solid red; */
    position: absolute;
    top: 55px;
    right: 12px;
    padding: 20px;
}

#icon-wrap:hover #apps_icon {
    display: block;
}

/* styling dynamic pages */

.head_wrap {
    /* color: black; */
    /* border: 1px solid red; */

}

#nav_bar {
    /* border: 1px solid blue; */
    text-align: center;
    height: 40px;
    /* box-sizing: content-box; */
    background-image: linear-gradient(to left, pink, gray, white);
}

#nav_bar span {
    width: 80px;
    padding: 5px;
    display: inline-block;
    /* border: 1px solid black; */
    margin: 5px;
    box-sizing: border-box;
}

.banner_wrap {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* border-radius: 10px;5 */
    /* max-width: 800px; */
}

.banner_wrap img {
    margin: 0;
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.article_wrap {
    display: inline-block;
    width: 70%;
    /* border: 1px solid red; */
    margin-right: 10px;
    background-color: white;
    box-shadow: 0px 2px 4px #aaaa;
    border-radius: 10px;
    padding: 10px;
}
.art_disrupt p{
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-align: justify;
    width: 100%;
    /* max-width: 800px; */
}

.art_disrupt h3 {
    text-align: center;
    color: black;
}

.side_contents{
    display: inline-block;
    width: 27%;
    /* border: 1px solid red; */
    vertical-align: top;
    background-color: white;
    box-shadow: 0px 2px 4px #aaaa;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.side_contents .advert {
    /* border: 1px solid red; */
    color: black;
    margin-bottom: 20px;
    /* box-sizing:border-box; */
}

.side_contents .advert:last-of-type {
    border: 1px solid red;
    margin-bottom: 0px;
}

.advert img {
    margin: 00px 0px 10px 0px;
    width: 100%;
    border-radius: 10px;
    /* box-sizing: content-box; */
}

.advert p {
    /* border: 1px solid red; */
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 0px;
    /* height: 40px; */
    border: none;
    box-shadow: 0px 0px 5px #aaaa;
    border-bottom: 1px solid #aaaa;
}

#foot_wrap footer {
    height: 40px;
    /* border: 1px solid red; */
    /* color: black; */
    text-align: center;
    background-image: linear-gradient(to left, pink, gray, white);

}

#foot_wrap h5 {
    display: inline-block;
    /* border: 1px solid red; */
    margin: 10px 0px 0px 0px;
    /* margin-top: 0px; */
}


/* Using media queries */
@media screen and (max-width:1200px) {
    .article_wrap {
        width: 100%;
    }

    .side_contents {
        width: 100%;
        margin-top: 20px;

    }
}

@media screen and (max-width:768px){
    .article_wrap {
        display: inline-block;
        width: 100%;
        margin: 0px;
        vertical-align: none;
    }
}  

@media screen and (max-width:425px){
    .banner_wrap img {
        height: 270px;
    }
}

@media screen and (max-width:375px){
    .banner_wrap img {
        height: 270px;
    }
}

@media screen and (max-width:360px){
    .banner_wrap img {
        height: 270px;
    }

    #nav_bar span {
        width: 60px;
        font-size: 15px;
    }
}

@media screen and (max-width:280px){
    .banner_wrap img {
        height: 270px;
    }

    #nav_bar span {
        width: 50px;
        font-size: 15px;
    }
}

/* styling flex layout */
#div_wrap {
    height: auto;
    border: 1px solid red;
    color: white;
    background-color: lightcoral;
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: center;
    
}

#div_wrap2 {
    height: auto;
    border: 1px solid red;
    color: white;
    background-color: lightcoral;
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: flex-end;
}

#div_wrap3 {
    height: auto;
    border: 1px solid red;
    color: white;
    background-color: lightcoral;
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: flex-start;
}

#div_wrap4 {
    height: auto;
    border: 1px solid red;
    color: white;
    background-color: lightcoral;
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content
}

.div {
    border: 1px solid black;
    display: inline-flex;
    /* padding: 4px; */
    width: 80px;
    height: 23px;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}